/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22/06/2015, 16:10:20
    Author     : gmsp
*/



            //gadget metro com redes sociais


            .MBD2B-social{width:285px}
            .MBD2B-social li{position:relative;cursor:pointer;padding:0;list-style:none}
            .MBD2B-social .fb,.tw,.gp,.fd{z-index:7;float:left;margin:1px;position:relative;display:block}
            .MBD2B-social .fb{background:url(http://3.bp.blogspot.com/-5uDzuzPa4ao/UqOnGZYpiKI/AAAAAAAAAEo/8CyoMUABc3U/s1600/Facebook1.png) no-repeat center center #1f69b3;width:140px;height:141px}
            .MBD2B-social .tw{background:url(http://3.bp.blogspot.com/-vopcCiP-PjM/UqOnHTMd-2I/AAAAAAAAAFM/eG9JJ2MY6qM/s1600/twitter1.png) no-repeat center center #43b3e5;width:140px;height:70px}
            .MBD2B-social .gp{background:url(http://4.bp.blogspot.com/-A13Rw_xfZag/UqOnG6-bqBI/AAAAAAAAAFE/hhmC9iKB9LQ/s1600/g+1.png) no-repeat center center #da4a38;width:140px;height:69px}
            .MBD2B-social .fd{background:url(http://1.bp.blogspot.com/-cVOxJstBcBg/UqOnGdwpRsI/AAAAAAAAAEs/Yy_SbDLWwFA/s1600/Feed1.png) no-repeat center center #e9a01c;width:282px;height:69px}
            .MBD2B-social li:hover .fb{background:url(http://4.bp.blogspot.com/-JwHnPN5lgb4/UqOnGYRa93I/AAAAAAAAAEw/Fjw0lBlnOmk/s1600/Facebook2.png) no-repeat center center #1f69b3}
            .MBD2B-social li:hover .tw{background:url(http://1.bp.blogspot.com/-osuN0bVZ80o/UqOnH8ldX9I/AAAAAAAAAFU/FZ40AYwTUTA/s1600/twitter2.png) no-repeat center center #43b3e5}
            .MBD2B-social li:hover .gp{background:url(http://3.bp.blogspot.com/-4fYQ1zi5K8o/UqOnHMOQqyI/AAAAAAAAAE8/CiF2XMqeYjo/s1600/g+2.png) no-repeat center center #da4a38}
            .MBD2B-social li:hover .fd{background:url(http://2.bp.blogspot.com/-HEQHhVN6PIw/UqOnG9F_HiI/AAAAAAAAAFc/idsaUJrCaN8/s1600/Feed2.png) no-repeat center center #e9a01c}




            //estilos de slides
            @import url(http://fonts.googleapis.com/css?family=Varela+Round);

            html, body { background: #333 url("http://codepen.io/images/classy_fabric.png"); }

            .slides {
                padding: 0;
                width: 600px;
                height: 450px;
                display: block;
                margin: 0 auto;
                position: relative;
            }

            .slides * {
                user-select: none;
                -ms-user-select: none;
                -moz-user-select: none;
                -khtml-user-select: none;
                -webkit-user-select: none;
                -webkit-touch-callout: none;
            }

            .slides input { display: none; }

            .slide-container { display: block; }

            .slide {
                top: 0;
                opacity: 0;
                width: 609px;
                height: 420px;
                display: block;
                position: absolute;

                transform: scale(0);

                transition: all .7s ease-in-out; 
            }

            .slide img {
                width: 100%;
                height: 100%;
            }

            .nav label {
                width: 200px;
                height: 100%;
                display: none;
                position: absolute;

                opacity: 0;
                z-index: 9;
                cursor: pointer;

                transition: opacity .2s;

                color: #FFF;
                font-size: 156pt;
                text-align: center;
                line-height: 380px;
                font-family: "Varela Round", sans-serif;
                background-color: rgba(255, 255, 255, .3);
                text-shadow: 0px 0px 15px rgb(119, 119, 119);
            }

            .slide:hover + .nav label { opacity: 0.5; }

            .nav label:hover { opacity: 1; }

            .nav .next { right: 0; }

            input:checked + .slide-container  .slide {
                opacity: 1;

                transform: scale(1);

                transition: opacity 1s ease-in-out;
            }

            input:checked + .slide-container .nav label { display: block; }

            .nav-dots {
                width: 100%;
                bottom: 9px;
                height: 11px;
                display: block;
                position: absolute;
                text-align: center;
            }

            .nav-dots .nav-dot {
                top: -5px;
                width: 11px;
                height: 11px;
                margin: 0 4px;
                position: relative;
                border-radius: 100%;
                display: inline-block;
                background-color: rgba(0, 0, 0, 0.6);
            }

            .nav-dots .nav-dot:hover {
                cursor: pointer;
                background-color: rgba(0, 0, 0, 0.8);
            }

            input#img-1:checked ~ .nav-dots label#img-dot-1,
            input#img-2:checked ~ .nav-dots label#img-dot-2,
            input#img-3:checked ~ .nav-dots label#img-dot-3,
            input#img-4:checked ~ .nav-dots label#img-dot-4,
            input#img-5:checked ~ .nav-dots label#img-dot-5,
            input#img-6:checked ~ .nav-dots label#img-dot-6 {
                background: rgba(0, 0, 0, 0.8);
            }



            .divisao{

                background-color: #000000;
            }

            .content2{
                float: left;
                width: 100%;
                background-color: transparent;
            }

            //estilos do menu drop down
            *{margin: 0; padding: 0;}

            body{
                font-family: arial, helvetica, sans-serif;
                font-size: 20px;
            }

            .menu{
                list-style:none;
                border:1px solid #c0c0c0;
                float:left;
            }


            .menu li{
                position: relative;
                float:left;
                border-right:5px solid #c0c0c0;
            }


            .menu li a{color:#333; text-decoration:none; padding:20px 20px; display:block;}

            .menu li a:hover{
                background:#333;
                color:#fff;
                -moz-box-shadow:0 3px 10px 0 #CCC;
                -webkit-box-shadow:0 3px 10px 0 #ccc;
                text-shadow:0px 0px 5px #fff;
            }


            .menu li  ul{
                position:absolute;
                top:50px;
                left:0;
                background-color:#fff;
                display:none;
                z-index:10;
            }  


            .menu li:hover ul, .menu li.over ul{display:block;}

            .menu li ul li{
                border:1px solid #c0c0c0;
                display:block;
                width:150px;
            }



            // estilos do pagina e colunas
            
            
            
            .content{
                float: left;
                width: 100%;
                background-color: #99ccff
            }

            .mask{
                position: relative;
                overflow: hidden;
                margin: 0px auto;
                width: 72%;
                background-color: #f4f4f4
            }

            .col3{
                float: left;
                width: 100%;
                background-color: #000000

            }

            .header{

                float: left;
                width: 100%;
                background-color: #000;
                font-size: 50px;
                color: #FFF;
                text-align : center;



            }
            .colleft{
                position: relative;
                width: 100%;
                right: 34%;
                background-color: #f4f4f4
            }
            .col1{
                position: relative;
                overflow: hidden;
                float: left;
                width: 32%;
                left: 101%;
                background-color: #e6e6e6
            }
            .col2{
                position: relative;
                overflow: hidden;
                float: left;
                width: 64%;
                left: 3%;
                background-color: #e6e6e6
            }
            .footer{
                float: left;
                width: 100%;
                background-color: black;
                color: aliceblue;
                text-align: center;
            }
            body {
                padding: 0px;
                margin: 0px;
                font-size: 90%;
                background-color: #000
            }
        

